* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*
bootstrap overrides / additions
*/
label small {
  font-weight: 300;
  font-style: italic;
  color: #aaa;
}
.checkbox label, 
.radio label {
  padding-left: 20px;
}